header {
	display: flex;
	justify-content: center;
	margin: 30px;
}

nav {
	height: 50px;
	width: 1000px;
	display: flex;
	justify-content: space-around;
	border: 2px, solid, #f23030;
	border-radius: 15px;
	overflow: hidden;
}

.nav a {
	position: relative;
	color: #ffffff;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	cursor: pointer;
}

.nav a::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px; /* Distância do sublinhado em relação ao texto */
	height: 4px; /* Espessura do sublinhado */
	background-color: #f23030; /* Cor do sublinhado */
	transform: scaleX(0); /* Esconde a linha inicialmente */
	transform-origin: left;
	transition: transform 0.3s ease; /* Animação suave */
}

.nav a:hover::after {
	transform: scale(1);
}

.row1 {
	display: grid;
	align-content: center;
	justify-content: center;
	width: 100%;
}

.container {
	justify-content: center;
	width: auto;
}

.row1 h1 {
	font-size: 50px;
	text-align: center;
}

.row1 h2 {
	font-size: 24px;
	padding-top: 50px;
	text-align: center;
}

.container2 {
	display: flex;
	justify-content: center;
}

.row {
	display: flex;
	justify-content: space-around;
	width: 1000px;
	margin: 30px;
}
.row span {
	max-width: 200px;
	height: 300px;
	border: 2px, solid, #f23030;
	border-radius: 15px;
	transition: 0.5s ease-in;
	margin: 15px 10px;
}

.row span:hover {
	transform: scale(1.05);
	background-color: #f23030;
	border: none;
}

.row2 {
	display: flex;
	justify-content: center;
	margin: 100px 0px;
}
.col-16 {
	display: flex;
	justify-content: center;
	width: 1000px;
	height: 2px;
	background-color: #f23030;
}

.container3 {
	display: flex;
	justify-content: space-around;
	margin: 10px;
}
.row3 {
	width: 1000px;
	display: flex;
}

.col {
	display: grid;
	justify-items: center;
}

#col-1 h2 {
	font-size: 24px;
}

#col-1 {
	height: 300px;
	width: 300px;
}

.container4 {
	width: max-content;
}

.mb-3 input {
	width: 400px;
	height: 45px;
	background-color: #4b4b4b;
	border: none;
	color: #a4a4a4;
}

.mb-3 {
	width: 400px;
	height: max-content;
	justify-content: center;
	margin: 20px;
}

.mb-4 {
	display: flex;
	justify-content: space-between;
	height: max-content;
	margin: 5px;
	width: 400px;
}

.mb-4 .btn {
	width: 190px;
	height: 50px;
	border: 2px, solid, #f23030;
	border-radius: 15px;
}
